
-
	const AutoInitAttr = (type) => ({ 'data-mdc-auto-init': type })
	const fgen = (first, second) => {
		let isFirst = true
		return () => {
			if(!isFirst){
				return second
			}
			isFirst = false
			return first
		}
	}

mixin icon(name, brand='Material Icons')
	case brand
		when 'Material Icons'
			.icon= name
		when 'fas'
		when 'fab'
			.icon(class=[brand, 'fa-'+name])
		default
			- throw new Error(`Unknown icon provider: '${brand}' (requested for icon ${name})`)

mixin warning(title)
	//- If a title is supplied, put it bolded inline with an icon
	//- Otherwise, keep the icon on its own column
	div.warning(style='display: inline-block;')
		//- Icon and content should be on seperate columns
		mwc-icon(style='display: inline-block; vertical-align: top;') warning
		div(style='display: inline-block; vertical-align: top;')
			//- Title (if applicable) and block should be on seperate rows
			if title 
				h3.warning-title= title
			div
				block

mixin warning_tbl(title, icon)
	table.warning
		tr
			td: mwc-icon= icon || 'warning'
			td
				if title
					h3.warning-title= title
				else
					div: block
		if title
			tr
				td
				td: div
					block
		


//- Mostly for consistency sake
mixin mdc-typography(ido, default_text)
	.mdc-typography.mdc-typography--overline(id=ido ? 'container-'+ido : undefined)
		block

- const iconDescriptor = (font, name) => ({ hasImageIcon: true, icon })

html
	head
		meta(charset='UTF-8')
		title Heyo! (feat. Web Components!)


		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons&display=block")
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700&display=swap')

		link(rel='stylesheet' href='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css')
		script(type='text/javascript' src='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js')
		
		script(type='text/javascript', src='../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js')
	body
		+mdc-typography('') How 2 Install a Minecraft Server
		h6.mdc-typography.mdc-typography--headline6.demo-headline
			| How to Install a Minecraft Server
		//- mwc-textfield(id='nameFirst', label='First Name')
		//- mwc-textfield(id='nameLast', label='Last Name')
		//- mwc-button(id='btnGreet' label='Greet Me!' raised)
		//- #txtGreet
		
		// Choose OS for instructions
		.section
			span I would prefer instructions for...
			mwc-tab-bar#tabsChooseOS(style='color: rgba(255, 255, 255, 0.2)')
				mwc-tab(label='Windows' hasImageIcon)
					+icon('windows', 'fab')
				mwc-tab(label='macOS' hasImageIcon)
					+icon('apple', 'fab')
				mwc-tab(label='Linux' hasImageIcon)
					+icon('linux', 'fab')
		
		+warning_tbl("Don't mess up (w/ title)")
			| Titled ya doofus
		+warning_tbl
			| Untitled doofus
		
		//- Install Java
			//- Good Reference
			//- https://www.digitalocean.com/community/tutorials/how-to-install-java-with-apt-on-debian-10
		#install-java.section
			.section
				| Historically, the standard Oracle Java did not require a login to download. They have changed this to require one. I recommend using Oracle Java if you do not mind creating a new account. OpenJDK does not require creating a new account, however it may be more difficult to install.
			.windows(class='"Material Icons"')
				| Go to 
				include:markdown-it(langPrefix='language-') install_java_win.md
			.macos.linux(hidden)
				// linux https://docs.oracle.com/javase/8/docs/technotes/guides/install/linux_jre.html
				:markdown-it(langPrefix='language-')
					### Markdown (Inline)
					If you are using Debian/Ubuntu Server (If you are using linux, but aren't sure, you probably are), you can use this simple command to install Java
					> :warning: ohh
					```bash
					$ sudo apt-get install openjdk-8-jre-headless
					```
					
					have fun!
		// Install Server
		//		Get latest from https://www.minecraft.net/en-us/download/server/
		// Run Server
		// Port forwarding?
		//		A port => similar to apt number
		// Create domain w/ Google Domains
		// Troubleshooting

		h6.mdc-typography.mdc-typography--headline6.demo-headline MDC Web Quick Start

		script(type='text/javascript', src='index.ts')
